{% extends "base.html" %}
{% block content %}
    <h1>Contact Us</h1>
	<br/><br/>
	 <div class="container-fluid" style="background-color:black;opacity:0.8;width:1200px;color:orange">
	<h2 style="color:white;font-family:bookman old style">Hello Reader,</h2><br/>
	<p style="font-family:cairo;font-size:25px">You can contact us on our Email address for any query or 
     complaint. Our Email id is<a href="https://gmail.com">govind.singh2199@gmail.com</a>. Also you can follow us on 
	<a href="https://www.facebook.com/profile.php?id=100006980441407" target="_blank">Facebook</a>, <a href="https://www.instagram.com/govind.singh2199/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/mwlite/in/govind-singh-034b601a4" target="_blank">LinkedIn</a> or <a href="https://mobile.twitter.com/singh89555" target="_blank">Twitter</a>.<br/><br/> Please give your Feedback 
	by filling up the Feedback form from the navigation bar or from <a href="{% url 'review' %}">HERE.</a></p>
	<p style="font-family:cairo;font-size:25px">Happy Reading !!!</p>
	<br/>
	<h2 style="color:white;font-family:bookman old style">Team BOOKWORM</h2>
	</div>
	<br/>
{% endblock %}