{% extends "base.html" %}
      {% block content %}
	  <h1 style="font-family:cairo;color:black"><strong>You Have Been Logged out</strong></h1>
<div class="border-top pt-3">
                         <small class="text-muted" style="color:yellow;font-size:25.9px"><i>
                            <a class="ml-2" href="{% url 'login' %}">Log In Again</a></i>
                         </small>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
